
.lightbulb {
	font-size: 200px;
	color: #636363;
}

.error {
	color: red;
	visibility: hidden;
}

.textalign-center {
	text-align: center;
}

.textalign-right {
	text-align: right;
}

.center {
	display: block;
	margin: auto;
	width: 95%;
	padding: 10px;
}